<div class="main">
  <div class="navbar">
    <div class="icon">
      <h2 class="logo">INTERIOR</h2>
     
    </div>
    <div class="menu">
      <ul>
        <li>Dinig</li>
        <li>Bedroom</li>
        <li>Varandah</li>
        <li>Kitchen</li>
        <li>Backyard</li>
      </ul>
    </div>
    <div class="search">
      <input class="srch" type="search" placeholder="Text here....">
      <button class="btn">Search</button>
    </div>
  </div>
  <div class="content">
    <div class="topic">
      <h1>Design your <br> <span>home</span><br>with us</h1>
    </div>
  </div>
</div>